<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alexey.Properties.Settings.alexeyConnectionString"
            connectionString="Data Source=89RUS-DELL\SQLEXPRESS;Initial Catalog=alexey;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>